html {
    font-family: 'Reddit Mono', monospace;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}

.art-image{
    border:10px solid #fff
}
#softbox{
    white-space: pre-wrap;
}
#softbox-img{
    padding:20px
}